@import url("node_modules/modern-normalize/modern-normalize.css");

h1 {
  color: black;
}

form {
  align-items: center;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  float: none;
  padding: 18px;
  background-color: cadetblue;
  color: #fff;
}

div {
  border: solid 3px;
  padding: 1em;
  max-width: 75%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8em;
}

h1,
h2 {
  margin: ;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
  gap: 8px;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

img {
  border-radius: 8px;
  max-width: 30%;
  height: auto;
}

header,
main {
  border-bottom: black;
}
