@import url("node_modules/modern-normalize/modern-normalize.css");

html {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  color: black;
}

body {
  max-width: 1080=px;
  margin: 0 auto;
  float: none;
  padding: 18px;
  background-color: cadetblue;
  color: #fff;
}

div {
  border: solid 3px;
  padding: 1rem;
  max-width: 50%;
}

header,
main,
footer {
  padding: 16px;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

a {
  font-weight: bold;
}

ul {
  margin: 0;
  background: rgba(182, 194, 206, 0.696);
  padding: 10px;
  color: black;
}

ul li {
  background: rgba(255, 255, 255, 0.164);
  padding: 5px;
  margin-left: 35px;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
  gap: 16px;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

img {
  border-radius: 8px;
  max-width: 30%;
  height: auto;
}
